/* Scss Document */
@import url(../bootstrap/css/bootstrap.min.css);
@import url(../font-awesome/css/font-awesome.min.css);
@import url(../lightbox/css/lightbox.css);
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,100,200,300,500,600,700,800,900);
/*
	This is not a responsive website,
	However it does breaks down into 992 or col-md screen size to accomade for smaller screen
*/
html, body, p {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

body {
  color: #184685;
  background-image: url(../img/core/SmallTileXY.jpg);
  background-repeat: repeat; }

p {
  color: #184685; }

.box-shadow, #logo {
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70)";
  zoom: 1; }

.overlay, .carousel .slide-btn, #banners .carousel-caption, .gallery-img .view-gallery-btn, .fleet-wrap .fleet-box .fleet-info {
  background-color: black;
  background-color: transparent\9;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf000000,endColorstr=#bf000000);
  zoom: 1; }

.text_shadow, #banners .carousel-caption h1, #banners .carousel-caption h3, .caption h1, .caption h3 {
  text-shadow: 1px 1px 5px #000000; }

#pattern {
  background-image: url(../img/core/LargeTileX.jpg);
  background-repeat: repeat-x;
  min-height: 490px;
  width: 100%;
  position: absolute; }

h1, h2, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase; }

h3 {
  font-family: "Lato", sans-serif; }

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 46px;
  color: white; }

h2 {
  font-weight: 900;
  font-size: 34px;
  line-height: 36px; }

h3 {
  color: #ffcd05;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px; }

h4 {
  color: #184685;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800; }

h5 {
  color: #184685;
  font-size: 14px;
  font-weight: 900; }

h6 {
  color: #184685;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px; }

a {
  color: #184685;
  font-family: "Raleway", sans-serif; }
  a:hover {
    color: #184685; }

.slogan {
  font-size: 14px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 2px; }

#wrapper {
  position: relative; }

#header {
  background-color: rgba(255, 204, 5, 0.68);
  height: 173px;
  width: 100%; }

#logo {
  background-color: #ffcc05;
  margin: auto;
  width: 255px;
  height: 195px;
  text-align: center;
  line-height: 195px;
  position: relative;
  z-index: 2000; }

/* navs */
#nav-wrap {
  background-color: #0f3f80;
  margin-top: -62px;
  height: 40px; }

.nav-app {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; }
  .nav-app li:after {
    content: "|";
    position: absolute;
    margin-top: -34px;
    color: #3f6599;
    font-size: 20px; }
  .nav-app li:first-child:after {
    content: ""; }
  .nav-app li > a {
    font-weight: 800;
    font-size: 15px;
    color: white;
    padding: 0;
    min-width: 148px;
    text-align: center;
    line-height: 40px; }
    .nav-app li > a:hover, .nav-app li > a:focus, .nav-app li > a.active {
      color: #ffcd05;
      background-color: #0d3973; }

/*buttons*/
.btn-white-txt {
  width: 205px;
  height: 45px;
  color: white;
  background-color: #0f3f80;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px; }
  .btn-white-txt:hover, .btn-white-txt:focus {
    color: white; }
  .btn-white-txt .fa {
    font-size: 18px; }

.btn-yellow-txt {
  width: 205px;
  height: 45px;
  color: #ffcd05;
  background-color: #0f3f80;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px; }
  .btn-yellow-txt:hover, .btn-yellow-txt:focus {
    color: #ffcd05; }
  .btn-yellow-txt .fa {
    font-size: 18px; }

.btn-sml {
  width: 85px !important; }

/*banner*/
.carousel .slide-btn {
  height: 41px;
  display: block;
  width: 41px;
  position: absolute;
  font-size: 20px;
  line-height: 41px;
  top: 45%; }
  .carousel .slide-btn .fa {
    font-size: 25px; }
.carousel a.right .slide-btn {
  right: 0; }
.carousel .left, .carousel .right {
  background-image: none;
  background-color: transparent; }

#banners .item img {
  width: 100%; }
#banners .carousel-caption {
  padding: 17px 20px 20px 20px;
  bottom: 15%;
  /*max-width:870px;*/ }
  #banners .carousel-caption h1 {
    margin-top: 0; }
  #banners .carousel-caption h3 {
    margin-top: 14px;
    margin-bottom: 20px; }
#banners .carousel-indicators li {
  width: 18px;
  height: 18px;
  border: none;
  background-color: white;
  margin: 0 5px; }
  #banners .carousel-indicators li.active {
    background-color: #ffcc05; }

.project-carousel .carousel-indicators {
  top: 225px;
  bottom: inherit; }
.project-carousel .carousel-caption {
  bottom: 0 !important;
  width: 100%;
  right: 0;
  left: 0; }
  .project-carousel .carousel-caption h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0; }
  .project-carousel .carousel-caption p {
    color: #ffcd05;
    margin-bottom: 0; }

.offset-top {
  margin-top: 20px; }

.app-container {
  background-color: white; }

.home-box {
  text-align: center;
  margin-top: 17px;
  padding-left: 0;
  padding-right: 0; }
  .home-box h2, .home-box p {
    text-align: center; }
  .home-box p {
    width: 80%;
    margin: 16px auto 0; }
  .home-box img {
    margin-bottom: 10px; }

hr {
  float: left;
  width: 100%;
  border-top: 1px solid #dde3ed; }

.caption {
  background-color: #0f3f80;
  padding-bottom: 14px;
  margin-top: 45px; }
  .caption h1, .caption h3 {
    text-align: center; }
  .caption h1 {
    margin-top: 26px; }
  .caption h3 {
    margin-top: 13px;
    line-height: 27px;
    letter-spacing: 1px; }

.secondary {
  width: 860px;
  margin: auto;
  padding-top: 22px; }
  .secondary h4 {
    margin-bottom: 0; }
  .secondary p {
    text-align: justify;
    margin-top: 2px; }
  .secondary ul {
    padding-left: 30px;
    padding-top: 10px;
    width: 80%; }
    .secondary ul li {
      padding-left: 20px;
      padding-bottom: 30px; }
  .secondary .btn-wrap {
    padding-left: 15px;
    padding-top: 5px; }
    .secondary .btn-wrap .btn {
      margin-right: 15px; }
  .secondary .address {
    margin-top: 10px; }
    .secondary .address p {
      text-transform: uppercase; }
    .secondary .address h4 {
      margin-top: 24px; }
    .secondary .address .fa-ul {
      margin: 0;
      padding: 0;
      width: 100%; }
      .secondary .address .fa-ul li {
        padding-left: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        padding-bottom: 0;
        text-transform: none; }
        .secondary .address .fa-ul li .fa {
          padding-right: 25px;
          float: left;
          margin-top: 5px; }

.linkedin {
  margin-top: 17px;
  margin-bottom: 10px;
  float: left; }

.gallery-box, .gallery-img, .gallery-desc {
  min-height: 466px;
  float: left;
  padding-right: 20px;
  padding-top: 8px; }

.gallery-img {
  padding-left: 10px;
  width: 630px; }
  .gallery-img img {
    width: 100%; }
  .gallery-img .view-gallery-btn {
    width: 176px;
    height: 45px;
    margin: -45px auto 0;
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    cursor: pointer; }
  .gallery-img a:hover {
    text-decoration: none; }

.gallery-desc {
  width: 500px;
  padding-left: 25px; }
  .gallery-desc h2 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    line-height: 39px; }
  .gallery-desc .fa-ul {
    margin-left: 25px;
    margin-top: 15px; }
    .gallery-desc .fa-ul li {
      font-weight: 600; }
    .gallery-desc .fa-ul .fa-li {
      color: #828281; }
    .gallery-desc .fa-ul li, .gallery-desc .fa-ul .fa-li {
      line-height: 26px; }
  .gallery-desc .gallery-btns {
    margin-top: 85px; }
  .gallery-desc button {
    margin-right: 15px; }

/*Lightbox*/
.lb-container {
  padding: 0; }

.app-multi-carousel h5 {
  margin-top: 30px;
  padding-left: 15px; }
.app-multi-carousel .carousel .item a {
  float: left;
  max-width: 222px;
  padding-right: 5px;
  max-height: 165px;
  overflow: hidden; }
  .app-multi-carousel .carousel .item a:last-child {
    padding-right: 0; }
.app-multi-carousel .carousel .item img {
  width: 100%; }
.app-multi-carousel .carousel .slide-btn {
  top: 35%; }
.app-multi-carousel .carousel-control {
  width: 41px; }

/* fleet info box height*/
.fleet-wrap {
  padding-right: 10px;
  margin-top: 20px;
  /*fleet-box*/ }
  .fleet-wrap .fleet-box {
    padding-left: 10px;
    padding-right: 0;
    height: 287px;
    overflow: hidden;
    margin-bottom: 10px; }
    .fleet-wrap .fleet-box img {
      width: 100%; }
    .fleet-wrap .fleet-box .fleet-info {
      position: absolute;
      height: 44px;
      width: 222px;
      margin: 0 auto 0;
      z-index: 1000;
      text-align: center;
      bottom: 0;
      margin-left: 20%;
      overflow-y: hidden;
      max-height: 0;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
      .fleet-wrap .fleet-box .fleet-info h6 {
        color: white;
        padding: 0;
        margin: 0; }
    .fleet-wrap .fleet-box:hover .fleet-info {
      padding-top: 10px;
      max-height: 44px; }

/* fleet-wrap*/
/* app form*/
/* horizontal form*/
.app-form-hz {
  padding-top: 20px; }
  .app-form-hz label,
  .app-form-hz .control-label {
    text-align: left;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 300; }
  .app-form-hz .form-group {
    margin-bottom: 10px; }
  .app-form-hz .form-control {
    border-radius: 0;
    color: #184685; }
    .app-form-hz .form-control::-webkit-input-placeholder {
      color: #a3a3a3;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 300; }
    .app-form-hz .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #a3a3a3;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 300; }
    .app-form-hz .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #a3a3a3;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 300; }
    .app-form-hz .form-control:-ms-input-placeholder {
      color: #a3a3a3;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 300; }

#footer .app-container {
  padding-top: 75px; }
#footer .footer-box {
  width: auto;
  float: left;
  padding-right: 35px; }
  #footer .footer-box .fa-ul {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-left: 40px; }
    #footer .footer-box .fa-ul .fa {
      text-align: left;
      left: -40px; }
    #footer .footer-box .fa-ul .fa-bank {
      font-size: 15px; }
    #footer .footer-box .fa-ul li > span {
      min-width: 72px;
      display: inline-block; }
#footer .quick-links {
  list-style: none;
  width: 600px;
  margin: auto; }
  #footer .quick-links li {
    float: left;
    width: auto;
    text-transform: uppercase; }
    #footer .quick-links li:after {
      content: "|";
      font-size: 10px;
      margin-top: 4px;
      position: absolute; }
    #footer .quick-links li:last-child:after {
      content: ""; }
    #footer .quick-links li a {
      font-size: 12px;
      font-weight: 500;
      padding: 0 10px; }
#footer p.copy-right {
  text-align: center;
  font-size: 12px;
  padding-top: 10px; }

/*
	Responsive 
*/
@media (max-width: 991px) {
  #wrapper,
  #pattern,
  .container {
    width: 970px; }

  h1 {
    font-size: 30.8px; }

  h2 {
    font-size: 23.8px; }

  h3 {
    font-size: 16.8px; }

  .nav-app li > a {
    min-width: 110px; }

  #banners .carousel-caption {
    right: 10%;
    left: 10%;
    bottom: 25%; }

  .home-box img {
    width: 100%; }

  .gallery-img {
    width: 504px; }

  .gallery-desc {
    width: 400px; }

  .app-multi-carousel .carousel .item img {
    max-width: 182px; }

  .fleet-wrap {
    /*fleet-box*/ }
    .fleet-wrap .fleet-box {
      height: 236px; }
      .fleet-wrap .fleet-box img {
        width: 100%; }
      .fleet-wrap .fleet-box .fleet-info {
        margin-left: 14%; }

  /* fleet-wrap*/
  #footer .footer-box {
    max-width: 25%; }
  #footer .fa-ul li > span {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .nav-app li > a {
    min-width: 110px; }

  #banners .carousel-caption {
    right: 10%;
    left: 10%;
    bottom: 25%; }

  .home-box img {
    width: 100%; }

  .secondary-banner img {
    max-width: 920px; }

  .gallery-img {
    width: 504px; }

  .gallery-desc {
    width: 400px; }

  .app-multi-carousel .carousel .item img {
    max-width: 182px; }

  .fleet-wrap {
    /*fleet-box*/ }
    .fleet-wrap .fleet-box {
      height: 236px; }
      .fleet-wrap .fleet-box img {
        width: 100%; }
      .fleet-wrap .fleet-box .fleet-info {
        margin-left: 14%; }

  /* fleet-wrap*/
  #footer .footer-box {
    max-width: 25%; }
  #footer .fa-ul li > span {
    display: none !important; } }
/*helpers*/
.clear {
  clear: both; }

.pull {
  float: right !important; }

.push {
  float: left !important; }

.pull-text {
  text-align: right; }

.center {
  text-align: center; }

.remove-rt-gutter {
  padding-right: 0 !important; }

.remove-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }
