/* Scss Document */
@import url(../bootstrap/css/bootstrap.min.css);
@import url(../font-awesome/css/font-awesome.min.css);
@import url(../lightbox/css/lightbox.css);
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,100,200,300,500,600,700,800,900);


/*
	This is not a responsive website,
	However it does breaks down into 992 or col-md screen size to accomade for smaller screen
*/

$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;


$text_blue:#184685;
$text_yellow:#ffcd05;
$text_white:#ffffff;
$text_grey:#828281;

$bg_blue:#0f3f80;
$bg_dark_blue:#0d3973;
$bg_yellow:#ffcc05;
$bg_white:#ffffff;

$nav_height:40px;
$body_copy:15px;

html,body,p{
	font-size:$body_copy;
	font-family:$raleway;
	font-weight:400;	
}

body{
	color:$text_blue;
	background-image:url(../img/core/SmallTileXY.jpg);
	background-repeat:repeat;
}
p{
	color:$text_blue;	
}


@mixin box($bg_color){
	background-color:$bg_color;
	padding-bottom:14px;
	h1,h3{
		@extend .text_shadow;
		text-align:center;
	}
	h1{
		margin-top:26px;	
	}
	h3{
		margin-top:13px;	
		line-height:27px;
		letter-spacing:1px;
	}
}
@mixin btn($text_color,$width){
	width:$width;
	height:45px;
	color:$text_color;
	background-color:$bg_blue;
	text-transform:uppercase;
	border-radius:0;
	font-weight:700;
	font-size:15px;
	line-height:35px;
	&:hover,&:focus{
		color:$text_color;
	}
	.fa{
		font-size:18px;	
	}
}

@mixin placeholder($color:#a3a3a3,$font_size:16px,$font_weight:300){
	&::-webkit-input-placeholder {
  		 color: $color;
		 font-size:$font_size;
		 font-family:$lato;
		 font-weight:$font_weight;
	}

	&:-moz-placeholder { /* Firefox 18- */
   		color: $color; 
		font-size:$font_size;
		font-family:$lato; 
		font-weight:$font_weight;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
   		color: $color;  
		font-size:$font_size;
		font-family:$lato;
		font-weight:$font_weight;
	}

	&:-ms-input-placeholder {  
   		color: $color; 
		font-size:$font_size;
		font-family:$lato; 
		font-weight:$font_weight;
	}	
}

.box-shadow{
	-moz-box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70)";
	zoom: 1;
}
.overlay{
    background-color:rgb(0,0,0);
    background-color: transparent\9;
    background-color:rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf000000,endColorstr=#bf000000);
    zoom: 1;
}
.text_shadow{
	text-shadow:1px 1px 5px #000000;	
}

#pattern{
	background-image:url(../img/core/LargeTileX.jpg);
	background-repeat:repeat-x;	
	min-height: 490px;
	width: 100%;
	position:absolute;
}
h1,h2,h4,h5,h6{
	font-family:$raleway;
	text-transform:uppercase;	
}
h3{
	font-family:$lato;	
}

h1{
	font-weight:900;
	font-size:44px;
	line-height:46px;
	color:$text_white;
}
h2{
	font-weight:900;
	font-size:34px;
	line-height:36px;
}
h3{
	color:$text_yellow;
	font-weight:300;	
	font-size:22px;
	line-height:24px;
}
h4{
	color:$text_blue;
	font-size:16px;
	line-height:18px;
	font-weight:800;	
}
h5{
	color:$text_blue;
	font-size:14px;
	font-weight:900;
}
h6{
	color:$text_blue;
	font-size:12px;
	font-weight:800;
	letter-spacing:2px;	
}
a{
	color:$text_blue;
	font-family:$raleway;
	&:hover{
		color:$text_blue;	
	}
}
.slogan{
	font-size:14px;
	font-weight:800;
	margin-top:0;
	margin-bottom:2px;
}


#wrapper{
	position:relative;	
}
#header{
	background-color:rgba(255,204,5,0.68);
	height:173px;
	width:100%;
}
#logo{
	@extend .box-shadow;
	background-color:$bg_yellow;	
	margin:auto;
	width:255px;
	height:195px;
	text-align:center;
	line-height:195px;
	position:relative;
	z-index:2000;
}
#logo img{
	
}

/* navs */

#nav-wrap{
	background-color:$bg_blue;	
	margin-top:-62px;
	height:$nav_height;
}
.nav-app{
	text-transform:uppercase;
	font-family:$raleway;
	li:after{
		content:"|";	
		position: absolute;
		margin-top: -34px;
		color: #3f6599;
		font-size:20px;
	}
	li:first-child:after{
		content:"";
	}
	
	li > a{
		font-weight:800;
		font-size:15px;
		color:$text_white;	
		padding:0;
		min-width: 148px;
		text-align: center;
		line-height: $nav_height;
		&:hover,
		&:focus,
		&.active{
			color:$text_yellow;	
			background-color:$bg_dark_blue;
		}
	}
}

/*buttons*/
@each $btn,$text_color in (btn-white-txt,$text_white),(btn-yellow-txt,$text_yellow){
	.#{$btn}{
		@include btn($text_color,205px);	
	}
}
.btn-sml{
	width:85px !important;
}

/*banner*/
.carousel{
	.slide-btn{
			@extend .overlay;
			height: 41px;
			display: block;
			width: 41px;
			position: absolute;
			font-size: 20px;
			line-height: 41px;
			top: 45%;
			.fa{
				font-size:25px;	
			}
				 
	}
	a.right .slide-btn{
		right:0;	 
	}
	.left,.right{
		background-image:none;
		background-color:transparent;
	}
}


#banners{
	 .item img{
		width:100%;
	 }
	 .carousel-caption{
		@extend .overlay;	
		padding:17px 20px 20px 20px;
		bottom:15%;
		/*max-width:870px;*/
		h1{
			margin-top:0;	
		}
		h1,h3{
			@extend .text_shadow;
		}
		h3{
			margin-top:14px;
			margin-bottom:20px;	
		}
	 }
	 .carousel-indicators li{
	 		width:18px;
			height:18px;
			border:none;
			background-color:$bg_white;
			margin:0 5px;
			&.active{
				background-color:$bg_yellow;
			}
	 }
	 
}


.project-carousel{
	
	.carousel-indicators{
		top:225px;	
		bottom: inherit;
	}
	
	.carousel-caption{
		bottom: 0 !important;
		width: 100%;
		right: 0;
		left: 0;
		
		h1{
			font-size:22px;	
			font-weight:700;
			line-height:24px;
			padding-bottom:0;
			margin-bottom:0;
		}
		
		p{
			color:$text_yellow;	
			margin-bottom:0;
		}
	}
}
.offset-top{
	margin-top:20px;	
}
.app-container{
	background-color:$bg_white;	
}
.home-box{
	text-align:center;
	margin-top:17px;
	padding-left:0;
	padding-right:0;
	h2,p{
		text-align:center;	
	}
	p{
		width:80%;
		margin:16px auto 0;
	}
	img{
		margin-bottom:10px;	
	}
	
}
hr{
	float: left;
	width: 100%;
	border-top:1px solid #dde3ed;
}
.caption{
	@include box($bg_blue);
	margin-top:45px;
}
.secondary-banner {
	
}
.secondary{
	width:860px;
	margin:auto;
	padding-top:22px;
	
	h4{
		margin-bottom:0;	
	}
	
	p{
		text-align:justify;	
		margin-top:2px;
	}
	
	ul{
		padding-left:30px;
		padding-top:10px;
		width:80%;
		li{
			padding-left:20px;	
			padding-bottom:30px;
		}
	}
	.btn-wrap{
		padding-left:15px;
		padding-top:5px;
		.btn{
			margin-right:15px;	
		}
	}
	
	.address{
		margin-top:10px;
		
		p{
			text-transform:uppercase;	
		}
		
		
		h4{
			margin-top:24px;
		}
		
		.fa-ul{
			margin:0;
			padding:0;
			width:100%;
			
			li{
				padding-left:0;	
				font-size:16px;
				font-weight:300;
				line-height:24px;
				padding-bottom:0;
				text-transform:none;
				
				.fa{
					padding-right:25px;
					float:left;
					margin-top:5px;	
				}
			}
		}
	}
}

.linkedin{
	margin-top:17px;	
	margin-bottom:10px;
	float:left;
}

.gallery-box{
	min-height:466px;
	float:left;	
	padding-right:20px;
	padding-top:8px;
}
.gallery-img{
	@extend .gallery-box;
	padding-left:10px;
	width:630px;	
	img{
		width:100%;	
	}
	.view-gallery-btn{
		@extend .overlay;
		width: 176px;
		height: 45px;
		margin: -45px auto 0;
		text-align: center;
		position: relative;
		color: #fff;
		line-height: 45px;
		text-transform: uppercase;
		font-size: 16px;
		font-family:$raleway;
		font-weight: 700;
		cursor:pointer;	
	}
	a:hover{
		text-decoration:none;
	}
}
.gallery-desc{
	@extend .gallery-box;
	width:500px;
	padding-left:25px;
	h2{
		padding-top:0;
		margin-top:0;
		padding-bottom:10px;	
		line-height:39px;
	}
	.fa-ul{
		margin-left: 25px;
		margin-top: 15px;
		li{
			font-weight:600;	
		}
		.fa-li{
			color:$text_grey;
		}
		li,.fa-li{
			line-height:26px;	
		}
	}
	.gallery-btns{
		margin-top:85px;
	}
	button{
		margin-right:15px;	
	}
	
}
/*Lightbox*/
.lb-container{
	padding:0;	
}
.app-multi-carousel{
	h5{
		margin-top:30px;	
		padding-left:15px;
	}
	.carousel{
		.item{
			a{
				float: left;
				max-width: 222px;
				padding-right: 5px;	
				max-height:165px;
				overflow:hidden;	
				
				&:last-child{
					padding-right:0;	
				}
			}
			img{	
				width:100%;
			}

		}
		.slide-btn{
			top:35%;	
		}
	}
	.carousel-control{
		width:41px;	
	}
}

/* fleet info box height*/
$fleet_info_height:44px;

.fleet-wrap{
	padding-right:10px;
	margin-top:20px;
		
	.fleet-box{
		padding-left: 10px;
		padding-right: 0;
		height: 287px;
		overflow: hidden;
		margin-bottom: 10px;
		
		img{
			width:100%;	
		}
		
		.fleet-info{
			@extend .overlay;
			position:absolute;
			height: $fleet_info_height;
			width: 222px;
			margin: 0 auto 0;
			z-index: 1000;
			text-align:center;
			bottom:0;
			margin-left:20%;
			
			overflow-y: hidden;
			max-height: 0; 
		
			transition-property: all;
			transition-duration: .5s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			
			
			h6{
				color:$text_white;	
				padding:0;
				margin:0;	
			}
		}
		
		&:hover{
			.fleet-info{
				padding-top:10px;
				max-height:$fleet_info_height;	
			}
		}
	} /*fleet-box*/
	
} /* fleet-wrap*/


/* app form*/

/* horizontal form*/
.app-form-hz{
	padding-top:20px;
	
	label,
	.control-label{
		text-align:left;	
		font-size: 16px;
		font-family: $lato;
		font-weight: 300;
	}
	
	.form-group{
		margin-bottom:10px;	
	}
	
	.form-control{
		@include placeholder();
		border-radius:0;	
		color:$text_blue;
	}
		
}




#footer{
	.app-container{
		padding-top:75px;	
	}
	.footer-box{
		width:auto;
		float:left;
		padding-right:35px;
		.fa-ul{
			font-family:$raleway;
			font-size:12px;
			font-weight:700;	
			margin-left:40px;
			.fa{
				text-align: left;
				left: -40px;
			}
			.fa-bank{
				font-size:15px;	
			}
			li > span{
				min-width:72px;
				display:inline-block;	
			}
			
		}
	}
	.quick-links{
		list-style:none;
		width:600px;
		margin:auto;
		li{
			float:left;
			width:auto;
			text-transform:uppercase;
			&:after{
				content:"|";	
				font-size: 10px;
				margin-top: 4px;
				position: absolute;
			}
			&:last-child:after{
				content:"";	
			}
			a{
				font-size:12px;
				font-weight:500;	
				padding:0 10px;
			}
		}
	}
	p.copy-right{
		text-align: center;
		font-size: 12px;
		padding-top: 10px;
	}
	
}


/*
	Responsive 
*/
@mixin resize_font($full_size){
	font-size:$full_size * 0.7;	
}
@mixin resize_box($full_width){
	width:$full_width * 0.80;	
}
@media(max-width:991px){
	#wrapper,
	#pattern,
	.container{
		width:970px;	
	}
	h1{
		@include resize_font(44px);	
	}
	h2{
		@include resize_font(34px);		
	}
	h3{
		@include resize_font(24px);		
	}
	.nav-app li > a{
		min-width:110px;	
	}
	#banners{
	 	.carousel-caption{
			right:10%;
			left:10%;
			bottom:25%;
	 	}
	 
	}
	.home-box{
		img{
			width:100%;	
		}
	}
	.gallery-img{
		@include resize_box(630px);
	}
	.gallery-desc{
		@include resize_box(500px);
	}
	.app-multi-carousel .carousel .item img{
		max-width:182px;	
	}
	
	.fleet-wrap{
		
		.fleet-box{
			height: 236px;
	
			img{
				width:100%;	
			}
			
			.fleet-info{
				margin-left:14%;
			}
		
		} /*fleet-box*/
	
	} /* fleet-wrap*/
	
	
	#footer{
		.footer-box{
			max-width:25%;	
		}
		.fa-ul{
			li > span{
				display:none !important;	
			}
		}
	}
}

@media(min-width:992px) and (max-width:1200px){
	.nav-app li > a{
		min-width:110px;	
	}	
	#banners{
	 	.carousel-caption{
			right:10%;
			left:10%;
			bottom:25%;
	 	}
	 
	}
	.home-box{
		img{
			width:100%;	
		}
	}
	.secondary-banner{
		img{
			max-width:920px;
		}
	}
	.gallery-img{
		@include resize_box(630px);
	}
	.gallery-desc{
		@include resize_box(500px);
	}
	.app-multi-carousel .carousel .item img{
		max-width:182px;	
	}
	
	.fleet-wrap{
		
		.fleet-box{
			height: 236px;
	
			img{
				width:100%;	
			}
			
			.fleet-info{
				margin-left:14%;
			}
		
		} /*fleet-box*/
	
	} /* fleet-wrap*/
	
	#footer{
		.footer-box{
			max-width:25%;	
		}
		.fa-ul{
			li > span{
				display:none !important;	
			}
		}
	}
}







/*helpers*/
.clear{
	clear:both;	
}
.pull{
	float:right !important;	
}
.push{
	float:left !important;	
}
.pull-text{
	text-align:right;	
}
.center{
	text-align:center;	
}
.remove-rt-gutter{
	padding-right:0 !important;
}
.remove-gutters{
	padding-left:0 !important;
	padding-right:0 !important;	
}